.entryButton {
    background-color: black;
    width: 10%;
    height: 60px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    text-align:center;
    line-height: 60px;
    transition: all 0.2s ease-in-out;
}

.entryButton:hover {
    background-color: #ffc87a;
    transform: scale(1.05);
    color: black;
    cursor: pointer;
}

.auth-container{
    text-align: center;
    font-family: 'Nunito';
    /* justify-content: center;
    align-items: center; */
    margin-top: 100px;

}

.statement {
  font-size: 20px;
  font-weight: normal;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.credentials-1 {
    font-size: 18px;
    font-weight: normal;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
    margin-bottom: 10px;
  }

.credentials-2 {
    font-size: 18px;
    font-weight: normal;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
    margin-bottom: 40px;
  }
