.reaction {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgba(255, 0, 0, 0);
    transition: transform 1s ease-out;
    line-height: 3;
    font-size: 15px;
  }
  ​ .reaction:hover {
    transform: scale(1.5);
    transition-duration: 0.2s;
  }
  ​ .reaction:focus {
    outline: none;
  }
  