.dialogButton {
  margin-bottom: "15px" margin;
  left: 40%;
  padding: "3-x 8px";
  cursor: "pointer";
  border: "none";
  border-radius: 5px;
  width: "38px";
  height: "38px";
  font-weight: "bold";
  margin-bottom: 2%;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.modalx {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal_contentx {
  background-color: white;
  /* position: absolute; */
  align-self: center;
  text-align: center;
  /* top: 20%; */
  /* left: 30%; */
  width: 30%;
  border-radius: 5px;
  border: 2px solid black;
  justify-content: center;
  align-items: "center";
}

.daily {
  font-size: 30px;
  /* text-align: center; */
  padding: 5px;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.fixRadio {
  align-self: center;
}
