
.header {
    width: 100%;
    left: 0;
    top: 0; 
    height: 42px;
    top: 0; 
   padding: 15px;
    text-align: center;
    background:  rgba(196, 196, 196, 0.01);
    font-size: 20px;
   
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      margin-top: 0; 
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  
  .header-right {
    margin-left: 54%; 
    margin-right: 10px;
  }
  
  
  .header a.active {
   
   font-weight: bold;
  }
  
  .header a:hover {
  
    font-weight: bold;
  }
  
  .header a.GatorRater{
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header img {
    float: left;
    padding-left: 5%;
    width: 50px;
    height: 50px;
   
  }